*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#menu {
    position: absolute;
    width: 100vw;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2vh;
}

@media (max-width: 600px) and (min-width: 526px) {
    .row-item {
        transform: scale(0.9); /* Shrink to 50% of original size */
    }

    #menu div {
        border: 1px solid red;
        overflow-y: auto;
    }

    .row-item {
        text-align: left; /* Aligns content to the left */
    }
    
    .row-item img {
        display: inline-block; /* Ensures images are inline-block elements */
    }
}

@media (max-width: 526px) {
    .row-item {
        transform: scale(0.6); /* Shrink to 50% of original size */
    }

    #menu div {
        background-color: black;
        padding-bottom: 14px;
        overflow-y: auto;
        margin-right: 40vh;
        width: 600px;
    }
}