*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.row-item {
    display: flex;
    align-items: flex-start;
}

#menu {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2vh;
}

@media (max-width: 600px) and (min-width: 526px) {
    .row-item {
        transform: scale(0.9); /* Shrink to 50% of original size */
    }

    #menu div {
        border: 1px solid red;
        overflow-y: auto;
    }
}

@media (max-width: 526px) {
    .row-item {
        transform: scale(0.6); /* Shrink to 50% of original size */
    }

    #menu {
        position: absolute;
        top: 0;
        left: 0;
    }

    #menu div {
        background-color: black;
        padding-bottom: 14px;
        padding-left: 14px;
        overflow-y: auto;
        width: 800px;
        position: relative;
    }
}